.menubar {
    background-color: #13223A;
    position: relative;
    height: 100px;
    width: 100vw;
}
body {
    overflow-x: hidden;
    margin: 0;
}
.slide {
    width: 100vw;
    height: auto;
}
.menu {
    top: 35%;
    position: relative;
    margin-left: 4vw;
    font-size: 1.5vw;
    text-decoration: none;
    color: white;
    font-weight: 900;
    font-family: AppleGothic, serif;
}
#mainlogo {
    float: left;
    margin-left: 10%;
    height: 100px;
}
#enroll {
    color: lawngreen;
}
.mainimage {
    overflow: hidden;
    position: relative;
    width: 100vw;
    margin-bottom: 0;
}
#slidebuttonleft {
    border: none;
    background: none;
    font-weight: 900;
    font-size: 5vw;
    position: absolute;
    top: 45%;
    left: 2vw;
    color: darkgray;
}
#slidebuttonright {
    border: none;
    background: none;
    font-weight: 900;
    font-size: 5vw;
    position: absolute;
    top: 45%;
    right: 2vw;
    color: darkgray;
}
.end {
    position: relative;
    width: 100vw;
    height: 100px;
    background-color: dimgrey;
}
.team {
    position: relative;
    top: 45%;
    float: left;
    margin-left: 10%;
    font-weight: 900;
    font-family: AppleGothic, serif;
}
.contact {
    position: relative;
    top: 25%;
    margin-right: 10%;
    float: right;
}
.contact_image{
    width: 3vw;
    height: 3vw;
}
.contacta {
    margin-left: 1vw;
}