.slide {
    margin-left: 7vw;
    width: 86vw;
    height: auto;
}
.mainimage {
    overflow: hidden;
    position: relative;
    width: 100vw;
    margin-bottom: 5vh;
}
#slidebuttonleft {
    border: none;
    background: none;
    font-weight: 900;
    font-size: 5vw;
    position: absolute;
    top: 45%;
    left: 2vw;
    color: darkgray;
}
#slidebuttonright {
    border: none;
    background: none;
    font-weight: 900;
    font-size: 5vw;
    position: absolute;
    top: 45%;
    right: 2vw;
    color: darkgray;
}