.menubar {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #0f223c;
}
#mainlogo {
    display: none;
}
.menu {
    display: none;
}
#animationlogo {
    position: absolute;
    width: 100%;
    top: 0;
    left: 10%;
    perspective: 100px;
    z-index: 2;
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.end {
    display: none;
    top: 3vh;
}
#content {
    display: none;
    position: relative;
    width: 100%;
    height: auto;
    top: 0;
}
.content-div {
    position: relative;
    top: 0;
    height: 100vh;
}
#content-div1 {
    height: calc(100vh - 100px);
}
.content-text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#content-text1 {
    text-align: center;
}
span {
    font-size: xx-large;
    font-weight: 900;
    display: block;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(180deg, #ffb6ff, #b344ff 10%, #ae38ff 33%, #ffb6ff 45%, #ffe3ff 50%, #ffb6ff 66%, #b344ff);
}
#content-text2, #content-text4, #content-text6 {
    position: absolute;
    right: 10%;
    color: #ffa137
}
#content-text3, #content-text5 {
    position: absolute;
    left: 10%;
    color: #de3e66
}
#content-div6 {
    display: none;
}
.button {
    position: absolute;
    background-color: #68dda8;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    width: 12vw;
    height: 5vh;
}
@keyframes gradient {
    from {
        background-position-y: 0%;
    }
    to {
        background-position-y: 100%;
    }
}