.background {
    color: white;
    width: 100%;
    opacity: 50%;
    height: auto;
    filter: brightness(150%);
}
.title {
    position: relative;
    overflow: hidden;
    height: 30vh;
}
#title {
    position: absolute;
    font-size: 5vw;
    font-weight: 900;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}