.background {
    color: white;
    width: 100vw;
    opacity: 50%;
    height: auto;
    filter: brightness(150%);
}
.title {
    position: relative;
    overflow: hidden;
    height: 30vh;
}
#title {
    position: absolute;
    font-size: 5vw;
    font-weight: 900;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.enroll {
    position: relative;
    color: white;
    height: auto;
    width: 100vw;
}
.text {
    position: relative;
    left: 15%;
}
.star {
    color: red;
    font-size: 20px;
}
input {
    height: 2vh;
    position: relative;
    left: 15%;
    border: 0;
    background-color: lightgray;
    border-radius: 3px;
}
.answer {
    background-color: lightgray;
    position: relative;
    border-radius: 3px;
    left: 15%;
    width: 70vw;
    height: 40vh;
    overflow-y: scroll;
    overflow-x: hidden;
    border-color: lightgray;
    color: black;
}
#submitbutton {
    position: relative;
    left: 65%;
    background-color: pink;
    border-radius: 50px;
    border: 0;
    color: black;
    font-size: 2.5vh;
    height: 5vh;
    width: 10vw;
    margin-top: 2vh;
    margin-bottom: 3vh;
}
#savebutton {
    position: relative;
    left: 64%;
    background-color: skyblue;
    border-radius: 50px;
    border: 0;
    color: black;
    font-size: 2.5vh;
    height: 5vh;
    width: 10vw;
    margin-top: 2vh;
    margin-bottom: 3vh;
}
input:invalid {
    border: 1px solid red;
}
#chieftel {
    color: yellow;
}