.background {
    color: white;
    width: 100%;
    opacity: 50%;
    height: auto;
    filter: brightness(150%);
}
.title {
    position: relative;
    overflow: hidden;
    height: 15vh;
}
#title {
    position: absolute;
    font-size: 10vw;
    font-weight: 900;
    color: white;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.enroll {
    position: relative;
    color: white;
    height: auto;
    width: 100%;
    margin-bottom: 5%;
}
.text {
    position: relative;
    left: 2%;
    font-size: 3.3vw;
    margin-block: 0.6em;
}
p {
    text-align: left;
}
.star {
    color: red;
    font-size: 20px;
}
input {
    height: 28px;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 18px;
    position: relative;
    border: 0;
    background-color: lightgray;
    border-radius: 3px;
}
.answer {
    background-color: lightgray;
    position: relative;
    border-radius: 3px;
    width: 96%;
    font-size: 18px;
    margin-left: 2%;
    margin-right: 2%;
    height: 40vh;
    overflow-y: scroll;
    overflow-x: hidden;
    border-color: lightgray;
    color: black;
    text-align: left;
}
#submitbutton {
    position: relative;
    float: right;
    margin-right: 3%;
    background-color: pink;
    border-radius: 50px;
    border: 0;
    color: black;
    font-size: 2.5vh;
    height: 5vh;
    width: 30%;
    margin-top: 4vh;
    margin-bottom: 5vh;
}
#erasebutton {
    position: relative;
    float: inside;
    background-color: greenyellow;
    border-radius: 50px;
    border: 0;
    color: black;
    font-size: 2.5vh;
    height: 5vh;
    width: 30%;
    margin: 4vh 2% 5vh;
}
#savebutton {
    position: relative;
    float: left;
    background-color: skyblue;
    border-radius: 50px;
    border: 0;
    color: black;
    font-size: 2.5vh;
    height: 5vh;
    width: 30%;
    margin-left: 3%;
    margin-top: 4vh;
    margin-bottom: 5vh;
}
input:invalid {
    border: 1px solid red;
}
#chieftel {
    color: yellow;
}
.team {
    font-size: 2vh;
}
#agree {
    left: 2%;
    width: auto;
}