.slide {
    width: 100vw;
    height: auto;
}
.mainimage {
    overflow: hidden;
    position: relative;
    width: 100vw;
    margin-bottom: 5vh;
}
#slidebuttonleft {
    display: none;
}
#slidebuttonright {
    display: none;
}