.menubar {
    position: absolute;
    top: 0;
    z-index: 1;
}
#mainlogo {
    display: none;
}
.menu {
    display: none;
}
#animationlogo {
    position: absolute;
    width: 100%;
    top: 0;
    left: 10%;
    perspective: 100px;
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.end {
    display: none;
}
.content {
    display: none;
    margin-top: 100px;
    position: relative;
    /*height: 200vh;*/
}
.content1 {
    position: relative;
    text-align: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(180deg, #ffb6ff, #b344ff 10%, #ae38ff 33%, #ffb6ff 45%, #ffe3ff 50%, #ffb6ff 66%, #b344ff);
    background-size: 100% 300%;
    background-position-y: 0%;
}
@keyframes gradient {
    from {
        background-position-y: 0%;
    }
    to {
        background-position-y: 100%;
    }
}
#content1 {
    position: relative;
    top: 20%;
}