.menubar {
    position: relative;
    height: 10vh;
    width: 100%;
}
body {
    max-width: 100%;
    background-color: #0f223c;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.menu {
    top: 35%;
    position: relative;
    margin-left: 4%;
    font-size: 3vh;
    text-decoration: none;
    color: white;
    font-weight: 900;
}
#mainlogo {
    float: left;
    height: 10vh;
}
#enroll {
    color: lawngreen;
}
.end {
    clear: both;
    position: relative;
    width: 100%;
    height: auto;
}
.team {
    color: darkgray;
    position: relative;
    font-weight: 900;
    width: 100%;
    text-align: center;
    font-size: 2.5vh;
}
.contact {
    position: relative;
    margin-top: 1vh;
    width: 100%;
    height: 5vh;
    margin-bottom: 10vh;
}
.contact_image{
    filter: invert(62%) sepia(69%) saturate(0%) hue-rotate(137deg) brightness(97%) contrast(83%);
    height: 4vh;
}
.contacta {
    position: absolute;
}
#github {
    left: 50%;
    transform: translateX(-50%);
}
#instagram {
    left: 35%;
    transform: translateX(-40%);
}
#email {
    left: 65%;
    transform: translateX(-60%);
}
#easteregg {
    border: 0;
    background: none;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
}
.bonobono {
    position: relative;
    display: none;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
}
.bonobono_image {
    width: 20%;
    animation: rotate_img 600ms linear infinite;
}
.bonobono_image:last-child {
    margin-left: 58%;
}
@keyframes rotate_img {
    100% {
        transform: rotate(360deg);
    }
}