.menubar {
    position: relative;
    height: 10vh;
    width: 100vw;
}
body {
    background-color: #0f223c;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    margin: 0;
}
.menu {
    top: 35%;
    position: relative;
    margin-left: 4vw;
    font-size: 3vh;
    text-decoration: none;
    color: white;
    font-weight: 900;
}
#mainlogo {
    float: left;
    height: 10vh;
}
#enroll {
    color: lawngreen;
}
.end {
    position: relative;
    width: 100vw;
}
.team {
    color: darkgray;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 900;
    width: 100vw;
    text-align: center;
    font-size: 2.5vh;
}
.contact {
    position: absolute;
    margin-top: 3vh;
    width: 100vw;
    height: 5vh;
}
.contact_image{
    filter: invert(62%) sepia(69%) saturate(0%) hue-rotate(137deg) brightness(97%) contrast(83%);
    height: 4vh;
}
.contacta {
    position: relative;
    margin-left: 1vw;
    left: 40%;
    transform: translate(-50%);
}