.menubar {
    position: relative;
    height: 100px;
    width: 100vw;
}
body {
    background-color: #13223A;
    overflow-x: hidden;
    margin: 0;
}
.menu {
    top: 35%;
    position: relative;
    margin-left: 4vw;
    font-size: 1.5vw;
    text-decoration: none;
    color: white;
    font-weight: 900;
    font-family: AppleGothic, serif;
}
#mainlogo {
    float: left;
    margin-left: 10%;
    height: 100px;
}
#enroll {
    color: lawngreen;
}
.end {
    position: relative;
    width: 100vw;
    height: 100px;
}
.team {
    color: darkgray;
    position: relative;
    top: 45%;
    float: left;
    margin-left: 10%;
    font-weight: 900;
    font-family: AppleGothic, serif;
}
.contact {
    position: relative;
    top: 25%;
    margin-right: 10%;
    float: right;
}
.contact_image{
    filter: invert(62%) sepia(69%) saturate(0%) hue-rotate(137deg) brightness(97%) contrast(83%);
    width: 3vw;
    height: 3vw;
}
.contacta {
    margin-left: 1vw;
}